<%- include("header") %>

<h2>Está é a página sobre o Manuel da Silva</h2>

<p>mkmfkmmfkkfmfrnwnjkeneeregejgnhjrnhffbfbbbdbdddmdmdmsmsmsmasmmm
    ammmmmngjjksjwwlwlorjrjtntttn
</p>

<%- include("footer") %> 